body{
    display: grid;
    grid-template: 1fr / 40vw 60vw;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(95, 90, 87);
    overflow: scroll;
    
}

.Mizq {
    width: 100%;
    height: 100%;
}

.imagen{
    width: 40vw;
    height: 60vh;
    background-color: rgb(161, 168, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}
.cuadrado{
    display: flex;
    width: 40vw;
    height: 10vh;
    background-color: rgb(116, 115, 114);
    margin-top: 2.5vh;
    align-items: center;
    font-size: 3vh;
    
}

.cuadrada{
    display: flex;
    width: 40vw;
    height: 10vh;
    background-color: rgb(116, 115, 114);
    margin-top: 2.5vh;
    align-items: center;
    font-size: 3vh;
    
}
.cuadrade{
    display: flex;
    width: 40vw;
    height: 10vh;
    background-color: rgb(116, 115, 114);
    margin-top: 2.5vh;
    align-items: center;
    font-size: 20px;
    
}

.Mder {
    width: 97%;
    height: auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 0vh;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 55vw;
    height: 13vh;
    background-color: rgb(116, 115, 114);
    font-size: 6vh;
    
    
}

.descr{
    width: 27vw;
    height: 43vh;
    background-color: rgb(161, 168, 153);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 4vh;
    
}

.coment{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;    
    font-size: 4vh;
    background-color: rgb(161, 168, 153);
    width: 55vw;
    height: auto;
}

.InputComentario{
    display: flex;
    height: 9vh    ;
    font-size: 3vh;

} 

.boti{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;

}

.input-but {
    display: flex;
    flex-direction: row;
}

.coment-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 80%;
    padding: 5vh;
}

h4{
    margin: 0;
}

.ComentContent {
    padding: 3vh 0 3vh 4.5vw;
}