body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    height:100rem;
    user-select: none;
    margin: 0;
    overflow: scroll;
}

header {
    font-size: 7vh;
    font-weight: 900;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-bottom: solid black;
    border-bottom-width: 0.3vh;
    padding: 5vh;
    margin: auto;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 90rem;
    width: 100%;
}

.ObjectsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 80vw;
    height: 90%;
    
}

.create {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 30vh;
    background-color: blue;
    cursor: pointer;
    width: 20vw;
    height: 50vh;
}

.post {
    display: flex;
    flex: 1 0 25%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 10vh;
    background-color:coral;
    cursor: pointer;
    width: 20vw;
    height: 50vh;
    order: -1;
}

span {
    font-size: 5vh;
}