/* Frame Inicio: */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.home-frame {
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 10vh;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.user-name{
    display: flex;
    justify-self: flex-end;
    font-size: 4vh;
   }
   
   .img{
       display: flex;
       justify-content: flex-end;
       background-image: url("..imgs/campanita-ej.png")
   }

.medio {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.cuadrado{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vh;
    width: 20vw; 
    height: 15vh; 
    background: #000000;
}

.cuadrados{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
}

.CS{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    height: 10vh;
    width: 15vw;
    background-color: rgb(255, 0, 0);
    display: flex;
    border: none;
}

.CC{
    display: flex;
    justify-content: flex-end;
    
}

/* Frame Log in/Sign up: */

.user-frame {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #83838369;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}



main { /*Caja donde se logea uno */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 60%;
    height: 80%;
}