:root {
    --gris: grey;
    --blanco:white;
    --azul:rgb(66, 167, 201);
    --azulOscuro: #134B70;
    --slightlyWhite: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, var(--azulOscuro), var(--slightlyWhite)); /* Degradado de arriba (azul) a abajo (blanco) */
    width: 100vw;
    height: 100vh;
}

header{
    display: flex;
    width: 43vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
}


h1{
    display: inline-block;     
    border-bottom: 2px solid var(--blanco); 
    color: var(--blanco);
}

main{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    width:100vw;
}

form {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.campos{
    display: flex;
    flex-direction: column;
    width: 51vw;
    gap: 1vh;
    border: 2vw ;
    border: none;
}

select{
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    border-radius: 2vh;
    background-color: var(--blanco);
    border: none;
}

form > div > div{
    display: flex;
    flex-direction: column  ;
    gap: 6vh;
    height: 50vh;
}

.inputs > input{
  display: flex;
}

.tamaños >input{
    display: flex;
    height: 8vh;
    width:50vw;;
    font-size: 20px;
    border-radius: 2VH;
    border: none;
    padding: 1vh;
}

.filecontainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 35vw;
    height: 70vh;
    border-radius: 1rem;
    background-color: var(--gris);
}

header{
    display: flex;
    width: 43vw;
    height: 8%;
    align-items: center;
    justify-content: center;
}

.einput > input{
  width:8vw ;
  height: 6vh;
  background-color: var(--gris);
  border-radius:2vh ;
  cursor: pointer;
  border:none;
  transition: background-color 1s;
  color: var(--blanco);
}

.einput > input:hover {
    background-color: var(--azul);
}

input[name="description"] {
  padding: 4vh;
  text-align: start;
  width: 46vw;
}

.filecontainer input[type="file"] {
    width: 100%; 
    height: 100%; 
    font-size: 0;
    cursor: pointer;
}

.filecontainer input[type="file"]:focus {
    color: var(--gris);
}

.filecontainer input[type="file"] {
    color: var(--gris);
}