:root {
    --border:#C4C4C4;
    --blanco:white;
    --celeste:rgb(66, 167, 201);
    --azul: #3B7DF9;
    --azulOscuro: #134B70;
    --slightlyWhite: #EEEEEE;
    --darkGrey: #4E4E4E;
    --focus: #66A0BD;
    --font-INTER: "Inter", sans-serif;
    --font-KHULA:  "Khula", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-INTER);
   
}

body{
    background: linear-gradient(to bottom, var(--azulOscuro), var(--slightlyWhite)); 
    width: 100vw;
    height: 100vh;
}

body > header{
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
}

h1{  
    color: var(--blanco);
    text-decoration: underline; 
    text-underline-offset: 0.7rem;
    font-weight: 900;
}

#quitPublicacion {
    padding-right: 1vw;
    cursor: pointer;
}

body > main{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
    width:100vw;
}

form {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.filecontainer{
    width: 35vw;
    height: 70vh;
    border-radius: 1vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--border);
}

.filecontainer input[type="file"] {
    position: absolute;
    width: 35vw; 
    height: 70vh; 
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.editImg {
    width: 2.5vw; 
    height: 5vh;
    position: absolute;
    top: 17vh;
    left: 37.5vw;
}

.campos{
    display: flex;
    flex-direction: column;
    width: 51vw;
}

select{
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.5rem;
    border-radius: 2vh;
    padding: 0.8vh 1vw;
    background-color: var(--blanco);
    color: var(--darkGrey);
    border: 0.22rem solid var(--border);
    transition: border 0.5s;
}

.tamaños {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    height: 50vh;
}

.tamaños > input{
    display: flex;
    font-size: 1.5rem;
    border-radius: 2vh;
    border: none;
    padding: 0.9vh 1vw;
    color: var(--darkGrey);
    border: 0.22rem solid var(--border);
    transition: border 0.5s;
}

/* Falta cambiar la flechita del select */

textarea[name="description"] {
    color: var(--darkGrey);
    font-size: 1.5rem;
    border-radius: 2vh;
    border: none;
    padding: 1vh 1vw;
    resize: none;
    flex-shrink: 0;
    height: 20vh;
    border: 0.22rem solid var(--border);
    transition: border 0.5s;
}

.tamaños > input:focus, 
textarea[name="description"]:focus,
select:focus{
    outline: none;
    border: 0.22rem solid var(--focus);
}

.einput {
    display: flex;
    justify-content: center;
}

.einput > input{
  width:8vw ;
  height: 6vh;
  background-color: var(--azul);
  border-radius: 2vh ;
  cursor: pointer;
  border:none;
  transition: background-color 1s ;
  color: var(--blanco);
}

.einput > input:hover {
    background-color: var(--celeste);
}

#imagen{
    border-radius: 1vw;
    height: 100%;
    width: 100%;
    z-index: 0.5;
}

#error {
    width: 35vw;
    border-radius: 1.5vw;
    height: 40vh;
    transform: translateY(10vh) translateX(33vw);
    position: fixed;
    border: none;
    outline: none;
    user-select: none;
    z-index: 2;
}

.darker {
    position: fixed;
    background: rgb(28, 27, 27);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#error > header {
    height: 40%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #DE5050;
}

#error > header > img {
    height: 10vh;
    width: 5vw;
}

#error > main {
    height: 60%;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#error > main > p {
    width: 80%;
    height: auto;
    font-weight: 400;
}

#error > main > p,
#error > main > h2 {
    color: #39475B;
    text-align: center;
}

#error > main > h2 {
    font-weight: 900;
    line-height: 20%;
    font-size: 2rem;
}