body{
    display: grid;
    grid-template: 1fr / 40vw 60vw;
    width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

.Mizq {
    width: 80%;
    height: 90vh;
    
}

img{
    width: 40vw;
    height: 60vh;
    background-color: rgb(161, 168, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}

.lugar, .fecha, .dejado {
    display: flex;
    width: 55vw;
    height: 4vh;
    background-color: #C5C9ED;
    margin-top: 2.5vh;
    padding-top: 2.5vh;
    align-items: center;
    font-size: 3vh;
    border-radius: 1vh;
}

.Mder {
    width: 90%;
    height: auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 0vh;
    gap: 3vh;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 55vw;
    height: 13vh;
    background-color: #54555F;
    font-size: 6vh;
    
    
}

.descr{
    width: 55vw;
    height: 11vh;
    background-color: #C5C9ED;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start¿;
    font-size: 4vh;
    border-radius: 1vh;
}

.coment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    font-size: 4vh;
    background-color: rgb(161, 168, 153);
    width: 55vw;
    height: auto;
}

.InputComentario{
    display: flex;
    height: 9vh    ;
    font-size: 3vh;

} 

.boti{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;

}

.input-but {
    display: flex;
    flex-direction: row;
}

body > .Mder > .coment > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 5vh 5vw;
    justify-content: end;
}

body > .Mder > .coment > section > article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body > .Mder > .coment > section > article > p {
    word-wrap: break-word;
    width: 100%;
    height: auto;
}

body{
    background: linear-gradient(to bottom, blue, white);
    height:100vh;
}
.identificacionencontrado{
    display: flex;
    background-color: #526E82;
    width: 40vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    font-size: 4vh;
    
}
