:root {
    --grey: rgb(161, 168, 153);
    --blue: #3B7DF9;
    --azulOscuro: #134B70;
    --slightlyWhite: #EEEEEE;
    --font-INTER: "Inter", sans-serif;
}

*{
    font-family: var(--font-INTER);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    height:100rem;
    user-select: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar { 
    width: 1.3rem;
    background-color: var(--azulOscuro);
}

body::-webkit-scrollbar-thumb { 
    border-radius: 2rem; 
    width: 0.8rem;
    background-color: var(--blue);
}

header {
    font-size: 1.9rem;
    font-weight: 900;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: linear-gradient(to left, var(--azulOscuro), #248FD6);
    border-bottom-width: 0.3vh;
    padding: 2vh 1vw;
}

body > header > img {
    width: 2.5vw;
    height: 3vh;
    user-select: pointer;    
}

body > header > div {
    width: 2.5vw;
    height: 3vh;
}

main{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    height: 90%;
    width: 100%;
}

ul{
    height: 20vh;
}

li{
    cursor: pointer;
}

.ObjectsList {
    display: grid;
    grid-template: repeat(25, 40rem) / 1fr 1fr 1fr 1fr ;
    width: 90%;
    height: 90%;
}

.create, .post {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 80%;
    justify-self: center;
    border-radius: 2vw;
}

.create {
    font-size: 5rem;
    background-color: var(--azulOscuro);
}

.post {
    font-size: 5rem;
    order: -1;
}

.up, .down {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%; 

}

.up  {
    height: 75%;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.down {
    height: 25%;
    font-size: 3vh;
    background-color:blueviolet;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

h3 {
    user-select:text;
    cursor:text;
}

.addtxt, .add {
    font-size: 2rem;
    font-weight: 900;
    color: #D4D4D4;
}

.add{
    font-size: 15rem;
    font-weight: 500;
}
