body{
    display: grid;
    grid-template: 1fr / 40vw 60vw;
    width: 100%;
    height: auto;
    background-color: rgb(95, 90, 87);  
}

* {
    margin: 0;
    padding: 0;
}

.Mizq {
    width: 40%;
    height: 100%;
}

img{
    width: 40vw;
    height: 60vh;
    background-color: rgb(161, 168, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}

.Mizq > div {
    display: flex;
    width: 40vw;
    height: 10vh;
    background-color: rgb(116, 115, 114);
    margin-top: 2.5vh;
    padding-top: 2.5vh;
    align-items: center;
    font-size: 3vh;
}

.Mder {
    width: 60%;
    height: auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 0vh;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 55vw;
    height: 13vh;
    background-color: rgb(116, 115, 114);
    font-size: 6vh;
    
    
}

.descr{
    width: 27vw;
    height: 43vh;
    background-color: rgb(161, 168, 153);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 4vh;
    
}

.coment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    font-size: 4vh;
    background-color: rgb(161, 168, 153);
    width: 55vw;
    height: auto;
}

.InputComentario{
    display: flex;
    height: 9vh    ;
    font-size: 3vh;

} 

.boti{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;

}

.input-but {
    display: flex;
    flex-direction: row;
}

body > .Mder > .coment > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 5vh 5vw;
}

body > .Mder > .coment > section > article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body > .Mder > .coment > section > article > p {
    word-wrap: break-word;
    width: 100%;
    height: auto;
}