body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    height:100rem;
    user-select: none;
    margin: 0;
    overflow: scroll;
}

header {
    font-size: 7vh;
    font-weight: 900;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-bottom: solid black;
    border-bottom-width: 0.3vh;
    padding: 5vh;
    margin: auto;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 90%;
    width: 100%;
}

.ObjectsList {
    display: grid;
    grid-template: repeat(25, 25rem) / 1fr 1fr 1fr 1fr ;
    width: 90%;
    height: 90%;
}

.create, .post {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 80%;
    justify-self: center;
}

.create {
    font-size: 7vh;
    background-color: blue;

}

.post {
    font-size: 20vh;
    order: -1;
}

.up, .down {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.up  {
    height: 70%;
    font-size: 4vh;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.down {
    height: 30%;
    font-size: 3vh;
    background-color:blueviolet;
}

h3 {
    user-select:text;
    cursor:text;
}

h1 {
    margin: 0;
}

.addtxt {
    font-size: 4vh;
}

body > header > img {
    width: 5vw;
    height: 5vh;
    user-select: pointer;    
}