body{
    display: grid;
    grid-template: 1fr / 40vw 60vw;
    width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

.Mizq {
    width: 90%;
    height: 90vh;   
}

img{
    width: 40vw;
    height: 60vh;
    background-color: rgb(161, 168, 153);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    border-radius: 2vh;
}

.lugar, .fecha, .dejado {
    display: flex;
    width: 55vw;
    height: 7vh;
    background-color: #C5C9ED;
    align-items:flex-start;
    font-size: 3vh;
    border-radius: 1vh;
    justify-content: start;
    color: black;
}

.Mder {
    display: flex;
    width: 90%;
    height: auto;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 0vh;
    gap: 8vh;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 55vw;
    height: 13vh;
    text-decoration: underline;
     text-decoration-color: white;
    font-size: 4vh;
}

.descr{
    width: 55vw;
    height: 19vh;
    background-color: #C5C9ED;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start¿;
    font-size: 4vh;
    border-radius: 1vh;
}

.coment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    font-size: 4vh;
    background-color: rgb(255, 255, 255);
    width: 96vw;
    height: 47vh;
    border-radius: 2vh;
}

.input-but > input{
    display: flex;
    height: 1vh  ;
    font-size: 3vh;
    padding: 6vw;
    padding-right: 60vw;
    border-radius: 1vh;
    border: 2px solid grey;
    text-align: start;
} 

.boti{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    padding: 1vw;
    border-radius: 2vh;
    background-color: #0688FF;
}

.input-but {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-left: 3vh;
}

body > .Mder > .coment > section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 5vh 5vw;
    justify-content: end;
}

body > .Mder > .coment > section > article {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body > .Mder > .coment > section > article > p {
    word-wrap: break-word;
    width: 100%;
    height: auto;
}

body{
    background: linear-gradient(to bottom, blue, white);
    height:120vh;
}
.identificacionencontrado{
    display: flex;
    background-color: #526E82;
    width: 40vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    font-size: 4vh;
}

.vizualicacion{
    display: flex;
    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    justify-content: start;
}

.input-but > button{
    padding: 1vw;
    padding-right: 2vw;
    border-radius: 1vh;
    width:17vw;
    border: none;
} 

.EspacioMizq{
    display: flex;
    width: 90vw;
    flex-direction: column;
    padding: 2vh;
    gap: 2vh;
}