:root {
    --grey: rgb(161, 168, 153);
    --blue: #3B7DF9;
    --azulOscuro: #134B70;
    --slightlyWhite: #EEEEEE;
    --font-INTER: "Inter", sans-serif;
    --vestimenta: #3AD304;
    --paraguas: #0214BE;
    --accesorios: #D8D00D;
    --mochilas: #FF6200;
    --cuaderno-carpeta: #A80384;
    --utiles-escolares: #893A01;
    --productos-electronicos: #3BABBF;
    --otros: #FF0000;
}

*{
    font-family: var(--font-INTER);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    height:100rem;
    user-select: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar { 
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb { 
    border-radius: 2rem; 
    width: 0.8rem;
    background-color: #A8A8A8AA;
}

header {
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(2deg, #248FD6 0%, #1F7AB6 25%, #1D71A9 40%, var(--azulOscuro) 99%);
    border-bottom-width: 0.3vh;
    padding: 2vh 1vw;
}

body > header > img {
    width: 2.5vw;
    height: 3.5vh;
    cursor: pointer;
    transition: background-color 0.25s;
    box-sizing: content-box;  
    padding: 1.7vh 0.4vw;
    border-radius: 2vw; 
}

body > header > img:hover {
    background-color: #58585850;;
}

body > header > div {
    width: 2.5vw;
    height: 3vh;
}

main{
    display: flex;
    justify-content: center;
    padding: 10vh 5vw;
    height: 90%;
    width: 100%;
}

#filtroImg {
    padding: 0.2vh 0.2vw;
    width: 4vw;
    height: 8vh;
    cursor: pointer;
    position: absolute;
    transform: translateX(-45vw) translateY(-7vh);
    transition: background-color 0.25s;
    border-radius: 3vw;
}

#filtroImg:hover {
    background-color: #58585890;;
}

ul{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    cursor: pointer;
    list-style: none;
    font-size: 1.1rem;
}

li::before {
    content: "• ";
    font-size: 1.1rem;
    box-shadow: 0 0.2rem 0.2rem #0000;
}

.vestimenta::before {
    color: var(--vestimenta);
}

.paraguas::before {
    color: var(--paraguas);
}

.accesorios::before {
    color: var(--accesorios);
}

.mochilas::before {
    color: var(--mochilas); 
}

.cuaderno-carpeta::before {
    color: var(--cuaderno-carpeta); 
}

.utiles-escolares::before {
    color: var(--utiles-escolares);
}

.productos-electronicos::before {
    color: var(--productos-electronicos);
}

.otros::before {
    color: var(--otros);
}

aside {
    position: absolute;
    background-color: #D2D2D2F8;
    justify-content: flex-start;
    align-items: center;
    display: none;
    width: 17vw;
    height: 63vh;
    padding: 0 1vw;
    border-radius: 0.7vw;
    transform: translateX(-35vw) translateY(-0.5vh);
}

.ObjectsList {
    display: grid;
    grid-template: repeat(25, 40rem) / 1fr 1fr 1fr 1fr ;
    width: 90%;
    height: 90%;
}

.create, .post {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 60%;
    justify-self: center;
    border-radius: 2vw;
}

.create {
    background-color: var(--azulOscuro);
}

.create > h1 {
    font-size: 15rem;
    padding-bottom: 3vh;
}

.create > span {
     font-size: 1.3rem;
}

.post {
    font-size: 5rem;
    order: -1;
}

.up, .down {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%; 

}

.up  {
    height: 75%;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.down {
    height: 25%;
    font-size: 3vh;
    background-color:var(--azulOscuro);
    color: #D3D3D3;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

h3 {
    user-select:text;
    cursor:text;
}

.addtxt, .add {
    font-size: 2rem;
    font-weight: 900;
    color: #D4D4D4;
}

.add{
    font-size: 15rem;
    font-weight: 500;
}
